<!-- Scripts -->
  <script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
  <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>


  <!-- Enables using Mermaid diagrams -->
  <!-- https://mermaid.js.org/intro/n00b-gettingStarted.html#working-examples -->
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>