  a {
    color: #e991d9;
  }

  a:hover {
    border-bottom-color: #e991d9;
    color: #e991d9 !important;
  }

  header.major > :last-child {
    border-bottom: solid 3px #e991d9;
  }

    textarea:focus {
      border-color: #e991d9;
    }
    input[type="radio"]:focus + label:before {
      border-color: #e991d9;
      box-shadow: 0 0 0 1px #e991d9;
    }

    ul.contact li {
      text-decoration: none;
      border-top: none;
      margin: 0em 0 0 0;
      padding: 1.8em 0 0 3em;
      position: relative;
    }
        ul.contact li:before {
          color: #e991d9;
        }
          ul.pagination li > .page.active {
            background-color: #e991d9;
          }

          input[type="submit"],
          input[type="reset"],
          input[type="button"],
          button,
          .button {
            box-shadow: inset 0 0 0 2px #e991d9;
            color: #e991d9 !important;
          }
    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    button.special,
    .button.special {
      background-color: #e991d9;
    }

    .features article .icon:before {
      color: #e991d9;
    }

  #header {
    border-bottom: solid 5px #e991d9;
  }

      #menu ul a:hover, #menu ul span:hover {
        color: #e991d9;
      }

        #menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
          color: #e991d9;
        }


			#sidebar > .inner > * {
				border-bottom: none;
      }
